.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.modal-content {
    position: inherit;
    top: 100px;
    right: 00;
    padding: 20px;
    border-radius: 12px;
    background-color: #664343;
    width: 600px;
    height: 460px;
    flex-direction: column;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    color: #FFF0D1;
}

.modal-content input {
    background-color: #D0D0D0;
    margin: 15px 0;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #bdc3c7;
    transition: border-color 0.3s ease;
    width: 100%;
}

.modal-content div>input {
    width: 90%;
    border-right: 0;
    color: #664343;
    background-color: #F0F0F5;
}

.modal-content input:focus {
    border-color: #3B3030;
    outline: none;
}

.modal-content button {
    margin-top: 15px;
    padding: 12px;
    border-radius: 6px;
    color: #FFF0D1;
    border: none;
    transition: background-color 0.3s;
 
}



.close {
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-self: flex-end;
}

.close:hover {
    color: red;
}



.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container .changePassword:hover {
    border: 1px solid #5bc0de;

}

.button-container .cancel:hover {
    border: 1px solid orange;
}

.button-container .save:hover {
    border: 1px solid green;
}

@media screen and (max-width: 768px) {
    .modal-content {
    
        width:400px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        color: #FFF0D1;
    }

}