body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 22px 0 0 30px;
    background-color: #794b4b;
    color: #D0D0D0;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    min-width: 600px;
    height: 650px;
    transition: max-width 0.3s ease;
}
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }
}

.legend {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}


i {
    color: #888;
}

.error {
    text-align: center;
    color: red;
    margin-top: 10px;
    /* Margin for spacing */
}

/* Google sign-in section styling */
.googlesignindiv {

    display: flex;
    align-items: center;
    flex-direction: column;
    /* Stack items vertically */
    text-align: center;
    margin: 10px auto;
    /* Center the section */
}

.googlesignindiv {
    text-align: center;
    margin-top: 20px;
}



/* Login link section styling */
.logindiv {

    padding-top: 15px;
    text-align: center;
    /* Center text */

}

/* Login link styling */
.logindiv a {
    text-decoration: underline;
    /* Link color */
    /* Remove underline from link */
    font-size: 16px;
    /* Font size for the link */
}

