.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    padding: 20px;
    border-radius: 12px;
    background-color: #F0F0F5;
    width: 700px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-content input,
textarea,
select {
    background-color: #F0F0F5;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #bdc3c7;
    transition: border-color 0.3s ease;
    width: 100%;
}


.modal-content button {
    margin-top: 15px;
    padding: 12px;
    border-radius: 6px;
    /* background-color: #34495E; */
    color: white;
    border: none;
    transition: background-color 0.3s;
    /* margin:15px 40%; */
}

.close {
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-self: flex-end;
    color: red;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container .save:hover {
    border: 1px solid green;
    border-radius: 5px;
}


.button-container .cancel:hover {
    border: 1px solid orange;
    border-radius: 5px;
}

.button-container .edit:hover {
    background-color: #5B7F93;
}

.button-container .delete:hover {
    background-color: #D94E4B;
}

.button-container .done:hover {
    background-color: #27ae60;
}